.list-container {
    outline: 2px solid red;
    width: 70%;
    margin: 0 auto;
    margin-top: 100px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
}

.list-item {
    width: 200px;
    outline: 2px red solid;
    height: 100px;
}

.text1 {
    overflow: hidden;
}

.text2 {
    overflow: visible;
}

.text3 {
    overflow: scroll;
}

.text4 {
    overflow: auto;
}

.text-photo {
    border: 2px green solid;
    border-width: 10px solid green;
    overflow: hidden;
    width: 500px;
    border-radius: 20px;
}

.img {
    display: block;
    max-width: 100%;

}

.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.menu-item {
    position: relative;
    margin-right: 15px;
    outline: 2px solid tomato;
}

.menu-item:hover .submenu {
    display: block;
}

.menu-item:hover .menu-link {
    background-color: black;
}

.menu-link {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: gray;
    color: white;
}

.submenu {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    margin: 0;
    list-style: none;
    padding: 10px;
    background-color: #ccc;
    display: none;
}

.submenu a {
    text-decoration: none;
}

.hover-a:hover {
    color: blue;
}

body {
    margin: 0;
    padding-top: 80px;
}

.page-header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    min-height: 80px;
    background-color: skyblue;
    outline: solid black;
}

body {
    font-family: 'Playfair Display', serif;
    margin: 0;
    text-align: center
}

h1 {
    font-weight: normal;
    color: #6A5953
}

kbd {
    font-size: 0.9em;
    display: inline-block;
    line-height: 1.1;
}

.wrap {
    display: inline-block;
    margin: 0 40px 2em 0;
    background: rgba(228, 225, 228, .5);
}

div {
    width: 170px;
    height: 100px;
    line-height: 100px;
    margin: 0 auto;
    transition: all 0.5s ease-in-out;
}

.one,
.four,
.seven,
.ten {
    background: rgba(135, 86, 120, .4);
}

.one:hover {
    transform: translateX(20px);
}

.two,
.five,
.eight,
.eleven {
    background: rgba(0, 228, 246, .4);
}

.two:hover {
    transform: translateY(-20px);
}

.three,
.six,
.nine {
    background: rgba(255, 153, 0, .4);
}

.three:hover {
    transform: translate(-20px, 20px);
}

.four:hover {
    transform: scaleX(-1);
}

.five:hover {
    transform: scaleY(1.2);
}

.six:hover {
    transform: scale(1.2, 0.5);
}

.seven:hover {
    transform: rotate(720deg);
}

.eight:hover {
    transform: skewX(10deg);
}

.nine:hover {
    transform: skewY(-20deg);
}

.ten:hover {
    transform: skew(-20deg, 20deg);
}

.eleven:hover {
    transform: matrix(1.2, 0, 0.5, 1.2, 50, 0);
}

.scene {
    height: 200px;
    width: 200px;
    border: 2px solid black;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: 4px;
    color: white;
    font-size: 20px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
}

.box.rotate-x {
    transform: perspective(400px) rotateX(45deg);
    animation: rotateX 1500ms infinite alternate ease-in-out 1000ms;
}

.box.rotate-y {
    transform: perspective(400px) rotateY(45deg);
    animation: rotateY 1500ms infinite alternate ease-in-out 1000ms;
}

.box.rotate-x {
    background-color: tomato;
}

.box.rotate-y {
    background-color: blue;
}

.scene+.scene {
    margin-left: 50px;
}

.container {
    display: flex;
}

@keyframes rotateX {
    0% {
        transform: perspective(400px) rotateX(0deg);
    }

    100% {
        transform: perspective(400px) rotateX(60deg);
    }
}

@keyframes rotateY {
    0% {
        transform: perspective(400px) rotateY(0deg);
    }

    100% {
        transform: perspective(400px) rotateY(60deg);
    }
}
.slide-top {
    -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
   
}
@-webkit-keyframes slide-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
    }
}

@keyframes slide-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
    }
}